@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&family=Rubik+Dirt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #94D7A2;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}

.app {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

.start {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-size: 20rem, 20rem;
}

.quiz {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}