@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&family=Rubik+Dirt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Width */
::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #94D7A2;
    border-radius: 5px;
    z-index: 1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}

.app {
    background-image: url(./assets/blobs.png), url(./assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

.start {
    background-image: url(./assets/blobs.png), url(./assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-size: 20rem, 20rem;
}

.start>div {
    overflow: overlay;
}

.quiz {
    background-image: url(./assets/blobs.png), url(./assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

.shapedividers_com-hero {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-hero::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 100% 100%;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23dde6f8"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23dde6f8"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23dde6f8"/></svg>');
}

@media (min-width:2100px) {
    .shapedividers_com-hero::before {
        background-size: 100% calc(2vw + 200px);
    }
}

.shapedividers_com-catg {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-catg::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 0%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23dde6f8"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23dde6f8"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23dde6f8"/></svg>');
}

@media (min-width:768px) {
    .shapedividers_com-catg::before {
        background-size: 200% 100%;
        background-position: 50% 0%;
    }
}

@media (min-width:1025px) {
    .shapedividers_com-catg::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 200% 100%;
        background-position: 50% 0%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.62" preserveAspectRatio="none"><path d="M35.278.092S8.238.267 0 3.62V.092z" opacity=".2" fill="%23dde6f8"/><path d="M35.278.092S8.238.246 0 3.194V.092z" opacity=".2" fill="%23dde6f8"/><path d="M35.278.092S8.238.223 0 2.738V.092zM35.278.092H0V0h35.278z" fill="%23dde6f8"/></svg>');
    }
}

@media (min-width:2100px) {
    .shapedividers_com-catg::before {
        background-size: 200% calc(2vw + 400px);
    }
}

.shapedividers_com-cat {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-cat::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: 100% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23dde6f8"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23dde6f8"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23dde6f8"/></svg>');
}

@media (min-width:768px) {
    .shapedividers_com-cat::before {
        background-size: 200% 100%;
        background-position: 70% 100%;
    }
}

@media (min-width:1025px) {
    .shapedividers_com-cat::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 200% 100%;
        background-position: 50% 100%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.52" preserveAspectRatio="none"><path d="M0 3.528S27.04 3.352 35.278 0v3.528z" opacity=".2" fill="%23dde6f8"/><path d="M0 3.528S27.04 3.374 35.278.425v3.103z" opacity=".2" fill="%23dde6f8"/><path d="M0 3.528S27.04 3.396 35.278.882v2.646z" fill="%23dde6f8"/><path d="M0 3.527h35.278v.092H0z" fill="%23dde6f8"/></svg>');
    }
}

@media (min-width:2100px) {
    .shapedividers_com-cat::before {
        background-size: 200% calc(2vw + 400px);
    }
}

.shapedividers_com-main {
    overflow: hidden;
    position: relative;
}

.shapedividers_com-main::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    background-position: 100% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23dde6f8"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23dde6f8"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23dde6f8"/></svg>');
}

@media (min-width:768px) {
    .shapedividers_com-main::before {
        background-size: 200% 100%;
        background-position: 70% 100%;
    }
}

@media (min-width:1025px) {
    .shapedividers_com-main::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw;
        background-size: 100% 100%;
        background-position: 50% 100%;
        background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><g fill="%23dde6f8"><path opacity=".5" d="M0 13.2v12.2l220.7 19.2L0 70.9v11.3l250-38.1L0 13.2z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 25.4v8.8l145.2 12.6L0 64.1v6.8l220.7-26.3L0 25.4z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".75" d="M0 34.2v29.9l145.2-17.3L0 34.2z"/><path opacity=".5" d="M750 44.1l250 38.1V69.9L779.3 43.6 1000 24.4V13.2L750 44.1zM750 44.1l-250-31-250 31 250 38zM500 24.4l220.7 19.3L500 69.8 279.3 43.6z"/><path d="M500 82.2L250 44.1 0 82.2v18h1000v-18L750 44.1 500 82.2z"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path d="M720.7 43.6L500 24.4 279.3 43.7 500 69.8zM500 30.3l164.6 14.3L500 64.1 335.4 44.5z" opacity=".5"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".75" d="M664.6 44.5L500 30.2 335.4 44.5 500 64.1l164.6-19.6z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 69.9v-5.8L854.9 46.8 1000 34.2v-9.8L779.3 43.6 1000 69.9z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".5" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/><path opacity=".75" d="M1000 64.1V34.2L854.9 46.8 1000 64.1z"/></g></svg>');
    }
}

@media (min-width:2100px) {
    .shapedividers_com-main::before {
        background-size: 100% calc(2vw + 200px);
    }
}