@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Karla:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}

.start {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    background-size: 20rem, 20rem;
}

.quiz {
    background-image: url(src/assets/blobs.png), url(src/assets/blobs-1.png);
    background-repeat: no-repeat;
    background-position: left bottom, right top;
}